@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8fafc;
  color: #1e293b;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(185, 207, 240);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #07121f;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  transition: .3s ease;
}

img {
  display: block;
  max-width: 100%;
}

section {
  width: 100%;
}
